<section class="landing-page header-back alteryx">
    <div class="container">
        <div class="row form-group cr-alteryx" style="margin-top: 220px">
            <div class="col-sm-1"></div>
            <div class="col-sm-7">
                <label class="alteryx-h1">
                    Your Date
                    Culture
                    Start <span class="alteryx-red">Now.</span>
                </label>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row form-group cr-alteryx" style="margin-bottom: 200px">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <p>
                    O Alteryx libera o poder do analytics para ajudar as pessoas
                    em todos os lugares e áreas a resolverem problemas
                    empresariais e sociais.
                </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <button class="btn btn-lg btn-pink center" onclick="window.open('https://www.alteryx.com/designer-trial/free-trial?_ga=2.163687030.89408005.1595943646-252697312.1590685016&utm_source=partner_generated&utm_medium=priscila_yamamoto&prid=0032R00002A3LeIQAV&crp=0032R00002A3LeIQAV')">TESTE GRÁTIS</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<section class="landing-page header-back">
    <div class="container pt-50 pb-50">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="alteryx-h4">Somos Parceiros Alteryx!</h4>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="alteryx-p">Como otimizar seu negócio, melhorar seus resultados frente às incertezas cada vez maiores e consequentemente uma menor previsibilidade? Muitas vezes não nos damos conta do quanto dados dispersos e que não conversam entre si, podem, através da utilização de ferramentas analíticas, nos fornecer informações de grande relevância. É isso que nós, da Jump Label, temos como nosso mote maior: propor soluções inovadoras , disruptivas e que tragam reais benefícios aos nossos clientes.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="alteryx-h4">O que torna o Alteryx diferente?</h4>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="alteryx-p">
                    Líder em <strong>automação de processos analíticos (APA)</strong>, a Alteryx unifica análises, ciência de dados e automação de processos em uma plataforma de ponta a ponta para acelerar a transformação digital e aumentar rapidamente a qualificação da força de trabalho. A plataforma Alteryx APA ™️ oferece centenas de componentes básicos de automação para o preparo e combinação de dados, análise preditiva e de diagnóstico, aprendizado de máquina automatizado e ciência de dados sem código.
                </p>
                <p class="alteryx-p">
                    A nossa plataforma self-service não requer habilidades especializadas e foi projetada para colocar a automação nas mãos de todos os profissionais de dados. Com ela, é possível automatizar pipelines, gerenciar processos de negócios complexos centrados em dados e fornecer insights para as partes interessadas em todas as linhas de negócios. Milhares de empresas ao redor do mundo utilizam o Alteryx para obter ganhos rápidos e resultados de negócios de alto impacto. Para mais informações, visite <a href="https://alteryx.com/pt-br/apa">alteryx.com/pt-br/apa</a>.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <img src="~/images/landing/APA-Platform.png" class="img-fluid">
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<section class="landing-page header-back analytic-automation-process">
    <div class="container center">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="apa-h4">Analytic Process Automation</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="apa-p">A convergência de dados, processos e pessoas, junto com o APA marca a maturação dos softwares analíticos que consistiam em mercados distintos, incluindo ferramentas de análise, inteligência de negócios, ciência de dados e aprendizado de máquina.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<section class="landing-page header-back">
    <div class="container pt-50 pb-50">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4 class="alteryx-h4">Por que escolher o Alteryx?</h4>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="alteryx-p">
                    A Alteryx é líder no movimento de análise self-servisse, com uma plataforma que permite com que você descubra, prepare e analise todas as suas informações, além de facilitar a implantação e compartilhamento em grande escala, gerando insights mais detalhados.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<section class="landing-page header-back">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 center ml-2p">
                <img src="~/images/landing/fluxo-trabalho-repetitivo.png" class="img-fluid-2">
                <h4 class="sub-title-alteryx">Fluxo de trabalho repetitivo</h4>
                <p class="alteryx-p center">
                    Automatize tarefas manuais de dados em fluxos de trabalho analíticos repetíveis.
                </p>
            </div>

            <div class="col-sm-3 center ml-2p">
                <img src="~/images/landing/sem-condigo.png" class="img-fluid-2">
                <h4 class="sub-title-alteryx">Sem Código + Compatível com Código</h4>
                <p class="alteryx-p center">
                    Interface intuitiva para modelagem analítica sem código e modelagem avançada com código.
                </p>
            </div>

            <div class="col-sm-3 center ml-2p">
                <img src="~/images/landing/analise-implantavel.png" class="img-fluid-2">
                <h4 class="sub-title-alteryx">Análise implantável</h4>
                <p class="alteryx-p center">
                    Embora existam muitas ferramentas de modelagem no mercado, oferecemos a liberdade de implantar e gerenciar modelos analíticos.
                </p>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 center ml-2p">
                <img src="~/images/landing/flexivel-diverso.png" class="img-fluid-2">
                <h4 class="sub-title-alteryx">Flexível + diverso</h4>
                <p class="alteryx-p center">
                    EComece com o que você precisa e cresça com o tempo com a plataforma aberta. Use quase todas as fontes de dados e ferramentas de visualização.
                </p>
            </div>

            <div class="col-sm-3 center ml-2p">
                <img src="~/images/landing/roi.png" class="img-fluid-2">
                <h4 class="sub-title-alteryx">ROI</h4>
                <p class="alteryx-p center">
                    Interface intuitiva para modelagem analítica sem código, bem como modelagem avançada com código.
                </p>
            </div>

            <div class="col-sm-3 center ml-2p">
                <img src="~/images/landing/escala-governanca.png" class="img-fluid-2">
                <h4 class="sub-title-alteryx">escala + governança</h4>
                <p class="alteryx-p center">
                    A análise de escala para sua organização se traduz em desempenho, segurança, colaboração e governança.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<br>
<br>
<br>

<section class="landing-page header-back">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="carousel-inner">
            <div class="carousel-item connect-alteryx active">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h4 class="text-alteryx-green center">CONNECT</h4>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p class="alteryx-p-carousel center">Pesquise e encontre os recursos analíticos, combinando dados e metadados, de forma a documentar o tipo de informação que seus dados contém, através de um ambiente colaborativo, que incentiva interações sociais e conhecimento organizacional.</p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="carousel-item designer-alteryx">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h4 class="text-alteryx-green center">Designer</h4>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p class="alteryx-p-carousel center">
                            Prepare mecanismos de análise de dados self-service, para que os analistas preparem e combinem dados de todas as fontes de dados. Aproveite o fluxo de trabalho para automatizar e importar os resultados para relatórios.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="carousel-item server-alteryx">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h4 class="text-alteryx-green center">Server</h4>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p class="alteryx-p-carousel center">
                            Fornece a base para organizações, como a escalabilidade corporativa, automatização e a governança necessária dentro do fluxo analítico, permitindo a colaboração entre times e linhas de negócios através do compartilhamento e da publicação de fluxos de trabalho, macros e relatórios.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="carousel-item promote-alteryx">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h4 class="text-alteryx-green center">Promote</h4>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p class="alteryx-p-carousel center">
                            Facilita os processos de implantação, gerenciamento e monitoramento de modelos preditivos e de aprendizado de máquina (machine learning) no ambiente de produção.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="landing-page header-back">
    <div class="container pt-50 pb-50">
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 center">
                <button class="btn btn-lg btn-pink center" onclick="window.open('https://www.alteryx.com/designer-trial/free-trial?_ga=2.163687030.89408005.1595943646-252697312.1590685016&utm_source=partner_generated&utm_medium=priscila_yamamoto&prid=0032R00002A3LeIQAV&crp=0032R00002A3LeIQAV')">Comece agora mesmo</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8 center">
                <h4>&nbsp;</h4>
                <p class="alteryx-p center">
                    Solicite uma demonstração da ferramenta e uma avaliação preliminar de nossa equipe, para enter a necessidade da sua empresa. <strong>Experimente o poder do Alteryx.</strong>
                </p>
            </div>
        </div>
    </div>
    <br>
</section>