
<section class="header-back eighteen">
    <div class="row form-group">
        <div class="col-12 text-center color-fff div-consultoria-img">
            <div>
                <img data-aos="fade-down" src="~/images/landing/jump-label-alvo.png" class="img-jump-label-alvo spacing-top-md pl-35-mobile">
                <h2 data-aos="fade-down" class="pl-35-mobile">
                    CONSULTORIA
                    <br>
                    PROFESSIONAL SERVICES
                </h2>
            </div>
        </div>
        <div class="col-12 text-center color-fff div-consultoria-text pl-35-mobile" style="margin-top: 01%" data-aos="fade-down">
            <span class="ft-18" data-aos="fade-down">
                Os profissionais mais preparados junto com o melhor suporte.
                <br>
                Nossos modelos de atendimento se adaptam às reais necessidades dos nossos clientes,
                <br>
                oferecendo mais agilidade e melhor qualidade na entrega. Conheça cada modelo.
                <br>
            </span>
        </div>
        <div class="col-12 text-center spacing-bottom-mobile spacing-bottom-md ">
            <div style="background-color: #FFFFFF; height:2px; width: 104px !important;margin-left: 46.5%;" class="item-inbox-40px hr-white-consultoria-0" data-aos="fade-down"></div>
        </div>
    </div>
</section>


<section class="section-box-purples">
    <div class="row form-group spacing-top-plus-5">
        <div class="col-4 div-img-cad-purple">
            <img data-aos="fade-up" src="~/images/landing/card-purple.png" alt="Alternate Text" class="width-400-pixels ml-15-percent" />
        </div>

        <div class="col-4 div-img-cad-purple">
            <img data-aos="fade-up" src="~/images/landing/card-purple.png" alt="Alternate Text" class="width-400-pixels ml-15-percent" />
        </div>

        <div class="col-4 div-img-cad-purple">
            <img data-aos="fade-up" src="~/images/landing/card-purple.png" alt="Alternate Text" class="width-400-pixels ml-15-percent" />
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4 div-text-card-purple-1">
            <h2 data-aos="fade-up" class="color-4a1cbb">
                <span>01</span> Esteira Ágil
            </h2>
            <br />
            <ul data-aos="fade-up" class="ft-16 ml-min-percent-4">
                <li>Aumento da capacidade de entrega</li>
                <li>Aumento da velocidade</li>
                <li>Atendimento a um leque amplo <br /> de tecnologias</li>
                <li>Agilidade na mudança</li>
                <li>Capacidade adaptativa</li>
                <li>Especialização no atendimento</li>
                <li>Padronização e qualidade</li>
            </ul>
        </div>

        <div class="col-4 div-text-card-purple-2">
            <h2 data-aos="fade-up" class="color-4a1cbb">
                <span>02</span> Staff Augmentation
            </h2>
            <br />
            <ul data-aos="fade-up" class="ft-16 ml-min-percent-4">
                <li>Reforço para sua equipe</li>
                <li>Alocação de profissionais</li>
                <li>Multidisciplinar</li>
                <li>Flexibilidade</li>
                <li>Suporte de especialistas</li>
                <li>Data Science e Multi-technology</li>
            </ul>
        </div>

        <div class="col-3 div-text-card-purple-3">
            <h2 data-aos="fade-up" class="color-4a1cbb">
                <span>03</span> Sustentação
            </h2>
            <br />
            <ul data-aos="fade-up" class="ft-16 ml-min-percent-4">
                <li>Sustentação a projetos e rotina de tarefas</li>
                <li>Assistido pelo cliente</li>
                <li>Presencial ou remoto</li>
                <li>Data Science e Multi-technology</li>
            </ul>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-4 div-img-cad-purple">
            <img data-aos="fade-up" src="~/images/landing/card-purple.png" alt="Alternate Text" class="width-400-pixels ml-15-percent" />
        </div>

        <div class="col-4 div-img-cad-purple">
            <img data-aos="fade-up" src="~/images/landing/card-purple.png" alt="Alternate Text" class="width-400-pixels ml-15-percent" />
        </div>
    </div>

    <div class="row  form-group spacing-bottom-plus-5">
        <div class="col-4 div-text-card-purple-4">
            <h2 data-aos="fade-up" class="color-4a1cbb">
                <span>04</span> Projeto
            </h2>
            <br />
            <ul data-aos="fade-up" class="ft-16 ml-min-percent-4">
                <li>Foco no produto</li>
                <li>Metodologia ágil</li>
                <li>Entregas por Sprint</li>
                <li>Cobrança por Sprint</li>
                <li>Orientado pelo cliente</li>
                <li>Data Science e Multi-technology</li>
            </ul>
        </div>

        <div class="col-4 div-text-card-purple-5">
            <h2 data-aos="fade-up" class="color-4a1cbb">
                <span>05</span> Jump Specialists
            </h2>
            <br />
            <ul data-aos="fade-up" class="ft-16 ml-min-percent-4">
                <li>Solução específicas</li>
                <li>Maior experiência</li>
                <li>Execução de demandas de alto nível e risco</li>
                <li>Consultor e coaching para o time</li>
            </ul>
        </div>
    </div>
</section>

<!--
    <section>
    <div class="Inbox">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3" style="background-image: url(https://blog.jumplabel.com.br/wp-content/uploads/2019/06/01-Ativo-10.png);background-position: center center;background-repeat: no-repeat;background-size: contain;height: 325px;">
                <h2 style="margin-left: 3%" class="color-4a1cbb">
                    <span>01</span> Esteira Ágil
                </h2>
                <br>
                <ul class="ft-16 ml-min-percent-4">
                    <li>Aumento da capacidade de entrega</li>
                    <li>Aumento da velocidade</li>
                    <li>Atendimento a um leque amplo <br> de tecnologias</li>
                    <li>Agilidade na mudança</li>
                    <li>Capacidade adaptativa</li>
                    <li>Especialização no atendimento</li>
                    <li>Padronização e qualidade</li>
                </ul>
            </div>
            <div class="col-3 ml-3" style="background-image: url(https://blog.jumplabel.com.br/wp-content/uploads/2019/06/01-Ativo-10.png);background-position: center center;background-repeat: no-repeat;background-size: contain;height: 325px;">
                <h2 style="margin-left: 2%" class="color-4a1cbb">
                    <span>02</span> Staff Augmentation
                </h2>
                <br />
                <ul style="margin-left: -1%" class="ft-16 ml-min-percent-4">
                    <li>Reforço para sua equipe</li>
                    <li>Alocação de profissionais</li>
                    <li>Multidisciplinar</li>
                    <li>Flexibilidade</li>
                    <li>Suporte de especialistas</li>
                    <li>Data Science e Multi-technology</li>
                </ul>
            </div>

            <div class="col-3 ml-3" style="background-image: url(https://blog.jumplabel.com.br/wp-content/uploads/2019/06/01-Ativo-10.png);background-position: center center;background-repeat: no-repeat;background-size: contain;height: 325px;">
                <h2 style="margin-left: 2%" class="color-4a1cbb">
                    <span>03</span> Sustentação
                </h2>
                <br />
                <ul style="margin-left: -2%" class="ft-16 ml-min-percent-4">
                    <li>Sustentação a projetos e rotina de tarefas</li>
                    <li>Assistido pelo cliente</li>
                    <li>Presencial ou remoto</li>
                    <li>Data Science e Multi-technology</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-3" style="background-image: url(https://blog.jumplabel.com.br/wp-content/uploads/2019/06/01-Ativo-10.png);background-position: center center;background-repeat: no-repeat;background-size: contain;height: 325px;">
                <h2 style="margin-left: 3%" class="color-4a1cbb">
                    <span>04</span> Projeto
                </h2>
                <br />
                <ul class="ft-16 ml-min-percent-4">
                    <li>Foco no produto</li>
                    <li>Metodologia ágil</li>
                    <li>Entregas por Sprint</li>
                    <li>Cobrança por Sprint</li>
                    <li>Orientado pelo cliente</li>
                    <li>Data Science e Multi-technology</li>
                </ul>
            </div>
            <div class="col-3 ml-3" style="background-image: url(https://blog.jumplabel.com.br/wp-content/uploads/2019/06/01-Ativo-10.png);background-position: center center;background-repeat: no-repeat;background-size: contain;height: 325px;">
                <h2 style="margin-top: 5%;" class="color-4a1cbb">
                    <span>05</span> Jump Specialists
                </h2>
                <br />
                <ul style="margin-left: -3%" class="ft-16 ml-min-percent-4">
                    <li>Solução específicas</li>
                    <li>Maior experiência</li>
                    <li>Execução de demandas de alto nível e risco</li>
                    <li>Consultor e coaching para o time</li>
                </ul>
            </div>
        </div>
    </div>
</section>
    -->
<script type="text/javascript" src="~/js/NavItems/Consultoria.js?time=@DateTime.Now.ToString()">

</script>