@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- class="carousel slide" data-ride="carousel"-->
<div id="carouselExampleControls"  class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active landing-page-section section-carousel-one">
            
            <div class="carousel-caption d-md-block">
                <div class="Inbox item-inbox-150px">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="elementor-slide-heading">
                                <h1 data-aos="fade-up" class="text-center-mobile">
                                    Obtenha resultados de <br> Alta Performance
                                </h1>
                            </div>
                            <div class="row form-group mt-3"></div>
                            <div class="elementor-slide-description">
                                <h2 data-aos="fade-up" class="text-center-mobile">Data - Driven Services</h2>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <br />
                    <div class="row mt-2">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="elementor-button text-center-mobile">
                                <form asp-controller="NavItems" asp-action="Solucoes">
                                    <button type="submit" data-aos="fade-up" class="btn btn-lg btn-rounded btn-warning btn-pattern-sm">Conheça</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="carousel-item landing-page-section section-carousel-one">
            <!--<img class="d-block w-100" src="~/images/landing/header_two.png" height="780" alt="Second slide">
            <div class="carousel-caption d-md-block">
                <div class="Inbox item-inbox-150px carousel-item-inbox">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="elementor-slide-heading text-center-mobile">
                                <h1 data-aos="fade-up">Webinar</h1>
                            </div>
                            <div class="elementor-slide-description text-center-mobile">
                                <h2 data-aos="fade-up">No dia 16/01 a Jump Label irá transmitir um webinar trazendo conteúdos exclusivos sobre a OneTrust.</h2>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3 div-elementor-onetrust">
                            <img src="~/Componentes/OTlogo.png" height="37" data-aos="fade-up">
                        </div>
                        <div class="col-7 text-right div-elementor-button">
                            <div class="elementor-button">
                                <button type="button" data-aos="fade-up" class="btn btn-lg btn-rounded btn-warning btn-pattern-sm" data-toggle="modal" data-target="#OneTrust">Inscreva-se</button>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>

        -->
    </div>
    <!--
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
        -->
</div>

<section class="header-back three">
    <div class="Inbox element-text-color-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 mobile-col-10">
                <div class="elementor-slide-description spacing-top spacing-top-mobile">
                    <h1 data-aos="fade-up" class="text-center-mobile">
                        Soluções disruptivas <br>
                        para empresas inovadoras
                    </h1>
                    <h3 class="item-inbox-25px text-center-mobile" data-aos="fade-up">A Jump Label é uma empresa que atua na criação <br /> de soluções inteligentes, tecnológicas e customizadas para <br /> a realidade e necessidade dos negócios dos nossos clientes.</h3>
                </div>

                <div class="elementor-button item-inbox-25px spacing-bottom-md text-center-mobile">
                    <form asp-controller="NavItems" asp-action="Solucoes">
                        <button type="submit" data-aos="fade-up" class="btn btn-lg btn-rounded btn-warning btn-pattern-sm">Saiba mais</button>
                    </form>
                </div>
            </div>
            <div class="col-3 spacing-top-plus-5-mobile">
                <img data-aos="fade-up" width="560" height="400" src="https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-2.png" class="img-jump-label-home item-inbox-113p2px" alt="" srcset="https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-2.png 535w, https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-2-300x219.png 300w" sizes="(max-width: 535px) 100vw, 535px">
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>

<section class="header-back header-back-home-solutions">
    <div class="Inbox">
        <div class="row item-inbox-50px">
            <div class="col-1"></div>
            <div class="col-3 div-line-black" data-aos="fade-up">
                <div class="line-black-left spacing-top-sm"></div>
            </div>
            <div class="col-4 text-center text-enter-lines-black spacing-top-plus-5-mobile" data-aos="fade-up">
                <h2 data-aos="fade-up">Soluções inteligentes adaptadas <br /> as necessidades do seu negócio</h2>
            </div>
            <div class="col-1 margin-right-line-left" style="display: none"></div>
            <div class="col-3 div-line-black" data-aos="fade-up">
                <div class="line-black-right spacing-top-sm"></div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="Inbox">
        <div class="row item-inbox-75px">
            <div class="col-3 text-center div-solucoes-inteligentes">
                <img data-aos="fade-up" src="~/images/landing/header_five.png" class="img-solucoes-inteligentes-server" />
                <div class="text-right spacing-bottom">
                    <form asp-controller="NavItems" asp-action="Solucoes" asp-fragment="section-data-enginneering-big-data">
                        <button type="submit" data-aos="fade-up" class="btn btn-lg btn-rounded btn-info">DATA ENGINEERING <br /> &  BIG DATA</button>
                    </form>
                </div>
            </div>

            <div class="col-3 text-center div-solucoes-inteligentes ml-positive-25px spacing-top-md-mobile">
                <img data-aos="fade-up" src="~/images/landing/header_six.png" class="img-solucoes-inteligentes-nuvem" />
                <div class="text-center">
                    <form asp-controller="NavItems" asp-action="Solucoes" asp-fragment="section-data-science-machine-learning">
                        <button type="submit" data-aos="fade-up" class="btn btn-lg btn-rounded btn-info btn-solucoes-inteligentes-nuvem">DATA SCIENCE <br /> & MACHINE LEARNING</button>
                    </form>
                </div>
            </div>

            <div class="col-3 text-left div-solucoes-inteligentes ml-positive-25px spacing-top-md-mobile">
                <img data-aos="fade-up" src="~/images/landing/header_seven.png" class="img-solucoes-inteligentes-visualizacao" />
                <div class="text-left">
                    <form asp-controller="NavItems" asp-action="Solucoes" asp-fragment="section-data-visualization">
                        <button type="submit" data-aos="fade-up" class="btn btn-lg btn-rounded btn-info btn-solucoes-inteligentes-visualizacao">DATA VISUALIZATION</button>
                    </form>
                </div>
            </div>

            <div class="col-3 text-left div-solucoes-inteligentes spacing-top-md-mobile">
                <img data-aos="fade-up" src="~/images/landing/header_eight.png" class="img-solucoes-inteligentes-robo" />
                <div class="text-left spacing-bottom-md-mobile">
                    <form asp-controller="NavItems" asp-action="Solucoes" asp-fragment="section-robot-process">
                        <button type="submit" data-aos="fade-up" class="spacing-bottom-mobile btn btn-lg btn-rounded btn-info btn-solucoes-inteligentes-robo">ROBOT PROCESS <br /> AUTOMATION</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header-back nine">
    <div class="Inbox element-text-color-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 div-consultoria-professional">
                <img data-aos="fade-up" width="550" height="550" src="https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-3.png" class="attachment-large size-large img-consultant" alt="" srcset="https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-3.png 570w, https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-3-296x300.png 296w" sizes="(max-width: 570px) 100vw, 570px">
            </div>
            <div class="col-1"></div>
            <div class="col-6 div-consultoria-professional">
                <div class="elementor-slide-description spacing-top-md">
                    <h1 data-aos="fade-up">
                        <span>CONSULTORIA  <br> PROFESSIONAL SERVICES</span>
                    </h1>
                    <h3 data-aos="fade-up" class="item-inbox-25px">Os profissionais mais preparados <br> junto com o melhor suporte</h3>
                    <div class="elementor-button item-inbox-25px">
                        <form asp-controller="NavItems" asp-action="Consultoria">
                            <button type="submit" data-aos="fade-up" class="btn btn-lg btn-rounded btn-warning spacing-bottom-mobile btn-pattern-sm">Saiba mais</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header-back ten">
    <div class="Inbox element-text-color-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 mobile-col-10 mt-3">
                <div class="elementor-slide-description spacing-top spacing-top-mobile">
                    <h1 class="text-center-mobile" data-aos="fade-up">
                        <span>TREINAMENTOS</span>
                    </h1>

                    <div class="col item-inbox-30px hr-white-treinamentos" style="background-color: #fff; height: 1px !important; width:54px !important;" data-aos="fade-right">
                    </div>
                    <h3 class="item-inbox-40px text-center-mobile text-treinamentos-index" data-aos="fade-up">Oferecemos qualificação profissional <br /> adaptada as necessidades da sua equipe. <br /> Turmas regulares em nossas instalações e <br /> cursos online. Somos a primeira Academia SAS <br /> da América Latina!</h3>
                </div>
                <div class="elementor-button item-inbox-25px text-center-mobile">
                    <form asp-controller="NavItems" asp-action="Treinamentos">
                        <button type="submit" data-aos="fade-up" class="spacing-bottom btn btn-lg btn-rounded btn-warning btn-pattern-sm">Conheça</button>
                    </form>
                </div>
            </div>
            <div class="col-3 item-inbox-40px-mobile item-inbox-100px spacing-bottom-sm div-img-hidemerotate">
                <img width="540" height="499" src="https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-1.png" class="hidemeRotate spacing-bottom-mobile spacing-top-sm" alt="" srcset="https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-1.png 559w, https://blog.jumplabel.com.br/wp-content/uploads/2019/06/jump-label-home-1-300x277.png 300w" sizes="(max-width: 559px) 100vw, 559px">
                <!--data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000"-->
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="~/js/NavItems/Index.js?time=@DateTime.Now.ToString()"></script>
