
    <section class="header-back three_teen" data-id="9972afa" data-element_type="section">
        <div class="row form-group">
            <div class="elementor-image pena-jump">
                <img data-aos="fade-up" width="58" height="89" src="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-13.png" class="attachment-large size-large" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-up">
                <span class="element-text-color-white ft-20">
                    A Jump Label Solutions oferece soluções de Data Science, SAS as a Service e Data engineering, que <br>
                    fornecem a agilidade e a flexibilidade que uma empresa precisa para fazer análises avançadas de
                    <br>
                    dados e obter insights importantes para as diretrizes de negócios.
                </span>
            </div>
            <div class="col-12 text-center spacing-bottom-mobile spacing-bottom-md ">
                <div class="item-inbox-40px hr-white-solucoes-0" style="background-color: #FFFFFF; height:2px; width: 104px !important;margin-left: 47%;" data-aos="zoom-in" ></div>
            </div>
        </div>
    </section>

<section class="header-back fiveteen" id="section-data-science-machine-learning">
    <div class="Inbox element-text-color-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 spacing-top-mobile spacing-top-md spacing-bottom-md">
                <img data-aos="fade-up" width="361" height="318" src="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-14.png" class="attachment-full size-full img-nuvem-solucoes" alt="" srcset="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-14.png 361w, https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-14-300x264.png 300w" sizes="(max-width: 361px) 100vw, 361px">
            </div>
            <div class="col-1"></div>
            <div class="col-6 mobile-col-10 ml-3">
                <div class="elementor-slide-description spacing-bottom-mobile">
                    <h1 data-aos="fade-up" class="spacing-top text-center-mobile spacing-top-md-mobile">
                        <strong>Data Science & Machine Learning</strong>
                    </h1>
                    <div class="col item-inbox-30px hr-white-solucoes-1" style="background-color: #fff; height: 4px !important; width:35px !important;" data-aos="fade-left"></div>
                    <h3 class="item-inbox-40px" data-aos="fade-up">
                        <p class="element-text-color-white">A Jump Label conta com uma equipe altamente qualificada de Cientistas de Dados e Estatísticos para desenvolvimento de soluções disruptivas utilizando Técnicas de Modelagem Estatística e Machine Learning.</p>

                        <p>Desenvolvimento de Modelos Estatísticos Descritivos, Preditivos e Prescritivos. Utilizamos os dados para Descrever seus clientes, Prever situações ou comportamentos para Prescrever as melhores oportunidades e soluções.</p>

                        <p class="spacing-bottom-md">Através de técnicas avançadas de Machine Learning, criamos soluções como Chat Bot, Análise de Dados não estruturados como Textos, Imagens, Vídeos e Áudio em Real-Time.</p>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header-back" id="section-data-enginneering-big-data">
    <div class="Inbox">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6 mobile-col-10 ml-3">
                <div class="elementor-slide-description element-text-color-black">
                    <h1 data-aos="fade-up" class="spacing-top-md spacing-top-md-mobile text-center-mobile">
                        <strong>Data engineering & Big Data</strong>
                    </h1>
                    <div class="col item-inbox-30px hr-white-solucoes-2" style="background-color: #000; height: 4px !important; width:35px !important;" data-aos="fade-right"></div>
                    <h3 class="item-inbox-40px" data-aos="fade-up">
                        <p>Com os Engenheiros de Dados da Jump Label conseguimos criar ambientes confiáveis e de alta performance para armazenamento e fácil acesso a grandes volumes de dados não estruturados e estruturados.</p>

                        <p>Desenvolvimento de arquitetura Cloud ou On-Premise, visando sempre a melhor Performance e Custo x Benefício para o cliente.</p>

                        <p>Estruturação de Dados utilizando as melhores práticas do Big Data, contemplando soluções como Data Lake, Data Warehouse, Data Mart e repositórios para Dados não estruturados.</p>

                        <p class="spacing-bottom-md">Construção de Processos ETL (Extract, Transform and Load) de alta performance, proporcionando Dados Confiáveis e de Alta Disponibilidade.</p>
                    </h3>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 element-img-data-engeneering-big-data spacing-bottom-md-mobile">
                <img data-aos="fade-up" width="363" height="442" src="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-15.png" class="attachment-full size-full spacing-top spacing-bottom" alt="" srcset="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-15.png 363w, https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-15-241x300.png 241w" sizes="(max-width: 363px) 100vw, 363px">
            </div>
        </div>
    </div>
</section>

<section class="header-back sixteen" id="section-data-visualization">
    <div class="Inbox element-text-color-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 spacing-top-plus-7 spacing-top-md-mobile">
                <img data-aos="fade-up" width="310" height="400" class="attachment-full size-full img-data-visualization" src="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-17-1.png" alt="" srcset="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-17-1.png 298w, https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-17-1-201x300.png 201w" sizes="(max-width: 298px) 100vw, 298px">
            </div>
            <div class="col-1"></div>
            <div class="col-5 mobile-col-10 ml-3">
                <div class="elementor-slide-description spacing-top">
                    <h1 data-aos="fade-up" class="text-center-mobile">
                        <strong>Data Visualization</strong>
                    </h1>
                    <div class="col item-inbox-30px hr-white-solucoes-3" style="background-color: #fff; height: 4px !important; width:35px !important;" data-aos="fade-left"></div>
                    <h3 class="item-inbox-40px" data-aos="fade-up">
                        <p class="element-text-color-white">Utilizando os dados armazenados em uma estrutura de Big Data, contemplando os resultados dos modelos criados por técnicas de Machine Learning e Estatística, criamos incríveis Dashboards que facilitam a interpretação e agilizam a tomada de decisão utilizando o conceito de Data-Driven.</p>

                        <p>Desenvolvimento de Dashboards com as principais ferramentas do mercado, visando sempre performance, alta disponibilidade e custo x benefício.</p>

                        <p class="spacing-bottom spacing-bottom-md-mobile">Utilizamos técnicas de UX (user experience) para criarmos soluções de utilização intuitiva e moderna.</p>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header-back seventeen" id="section-robot-process">
    <div class="Inbox">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 mobile-col-10 ml-3">
                <div class="elementor-slide-description spacing-top  spacing-top-md-mobile element-text-color-black">
                    <h1 data-aos="fade-up" class="text-center-mobile">
                        <strong>ROBOT PROCESS AUTOMATION & SOLUTIONS</strong>
                    </h1>
                    <div class="col item-inbox-30px hr-white-solucoes-4" style="background-color: #000; height: 4px !important; width:35px !important;" data-aos="fade-right"></div>
                    <h3 class="spacing-bottom-md" data-aos="fade-up">
                        <p class="item-inbox-40px">Com um time multidisciplinar, desenvolvemos soluções inovadoras que otimizam o dia a dia dos nossos clientes, nossas principais soluções:</p>
                        <ul class="item-inbox-40px">
                            <li>Desenvolvimento de integrações entre sistemas e serviços;</li>
                            <li>Criação de Robôs para automatização de Processos;</li>
                            <li>Desenvolvimento de Web Crawler para captura de dados e automatização;</li>
                            <li>Desenvolvimento de Aplicativos Mobile;</li>
                            <li>Desenvolvimento de sistemas web;</li>
                            <li class="spacing-bottom">Criação de Chat Bot inteligente.</li>
                        </ul>
                    </h3>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 spacing-top-sm-mobile spacing-bottom-md-mobile">
                <img data-aos="fade-up" src="~/images/landing/header_eight.png" class="img-robot-process spacing-top-plus-45">
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/js/NavItems/Solucoes.js?time=@DateTime.Now.ToString()"></script>