<section class="header-back nineteen">
    <div class="row form-group">
        <div class="elementor-image pena-jump">
            <img width="41" height="67" src="https://jumplabel.com.br/wp-content/uploads/2019/06/jump-label-solucoes-Ativo-13.png" class="attachment-large size-large" alt="">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4 text-center mt-3">
            <img width="139" height="140" src="https://jumplabel.com.br/wp-content/uploads/2019/07/jump-label-05.png" class="attachment-large size-large jump-label-05" alt="" style="margin-left: -25px;">
        </div>

        <div></div>

        <div class="col-8 mt-3" style="margin-left: -12.8%;">
            <h3 class="color-fff">
                <p class="p-tecnologias">
                    Parceiro SAS desde 2015, a Jump Label tem grande expertise no uso das ferramentas SAS. Com profissionais qualificados e especialistas com mais de 15 anos de experiência, estamos prontos para aplicar as melhores práticas e levar as melhores soluções a nossos clientes.
                </p>
                <p class="p-tecnologias">
                    Através da parceria e da proximidade com o SAS, a Jump Label tem sempre mantido seus profissionais treinados e preparados para utilizar as mais recentes tecnologias e soluções, sem abandonar as boas práticas do legado.
                </p>
                <p class="p-tecnologias">
                    Por conta desta experiência e da quantidade de instrutores SAS que participam em projetos como nossos colaboradores, a Jump Label foi convidada em 2018 pelo SAS para se tornar o primeiro Parceiro de Treinamentos Autorizados da América Latina, operacionalizando além de treinamentos tradicionais a Academia de Cientistas de Dados SAS.
                </p>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div style="background-color: #fff; height: 2px; width: 99px; margin-left: 40%" class="spacing-bottom-md spacing-bottom-mobile hr-tecnologias-0"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row form-group">
            <div class="col-12 text-center spacing-top-sm spacing-top-md-mobile">
                <h3>Conheça todas as tecnologias que utilizamos em nossos projetos</h3>
            </div>
        </div>
        <div class="row form-group text-center text-center spacing-top-sm">
            <div class="col-1 d-none-mobile"></div>
            <div class="col-2 text-col-12-mobile b-r">
                <h3 class="hover-ef8822" id="h2-data-enginner-big-data"><i class="fa fa-circle-thin"></i> Data Enginner e  Big Data</h3>
            </div>

            <div class="col-3 text-col-12-mobile b-r">
                <h3 class="hover-ef8822" id="h2-data-science-machine-learning"><i class="fa fa-circle-thin"></i> Data Science e Machine Learning</h3>
            </div>

            <div class="col-2 text-col-12-mobile b-r">
                <h3 class="hover-ef8822" id="h2-data-visualization"><i class="fa fa-circle-thin"></i> Data Visualization</h3>
            </div>

            <div class="col-3 text-col-12-mobile">
                <h3 class="hover-ef8822" id="h2-robot-process-automation-solutions"><i class="fa fa-circle-thin"></i> Robot Process e Automation Solutions</h3>
            </div>
        </div>

        <div id="data-enginner-big-data" class="b-r b-l b-t b-b">
            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/01-aws.png" class="attachment-large size-large" alt="">
                </div>
                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/02-Microsoft-Azure.png" class="attachment-large size-large" alt="">
                </div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/03-Google-Partner.png" class="attachment-large size-large" alt="">
                </div>
                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/04-hadoop.png" class="attachment-large size-large" alt="">
                </div>
            </div>

            <div class="row form-group text-center text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/05-nformatica.png" class="attachment-large size-large" alt="">
                </div>
                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/06-mais.png" class="attachment-large size-large" alt="">
                </div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/07-oracle.png" class="attachment-large size-large" alt="">
                </div>
                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/08-spark.png" class="attachment-large size-large" alt="">
                </div>
            </div>
        </div>

        <div id="data-science-machine-learning" class="b-r b-l b-t b-b">
            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/06-mais.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/02-tensor.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/03-R.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/08-spark.png" class="attachment-large size-large" alt="">
                </div>
            </div>

            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/02-Microsoft-Azure.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/06-Knime.png" class="attachment-large size-large" alt="">
                </div>
            </div>
        </div>

        <div id="data-visualization" class="b-r b-l b-t b-b">
            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/01-Microsoft-Power-BI-1.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/02-Qlik-Sense-1.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/04-Metabase-1.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/04-QlikView-1.png" class="attachment-large size-large" alt="">
                </div>
            </div>

            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/05-High-charts-1.png" class="attachment-large size-large" alt="">
                </div>
            </div>
        </div>

        <div id="robot-process-automation-solutions" class="b-r b-l b-t b-b">
            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/01-C.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/02-Se.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/04-CS5.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/05-A20.png" class="attachment-large size-large" alt="">
                </div>
            </div>

            <div class="row form-group text-center">
                <div class="col-1 d-none-mobile"></div>
                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/06-Php.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/07-html5.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-2 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/08-mais.png" class="attachment-large size-large" alt="">
                </div>

                <div class="col-3 img-col-6-mobile">
                    <img width="148" height="149" src="https://jumplabel.com.br/wp-content/uploads/2019/07/09-Go.png" class="attachment-large size-large" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/NavItems/Tecnologias.js?@DateTime.Now.ToString()"></script>