<!--
<section class="header-back tweenty-three">
    <div class="row form-group">
        <div class="col-12 text-center">
            <img src="https://jumplabel.com.br/wp-content/uploads/elementor/thumbs/jump-label-solucoes-01Ativo-10-o8vjulsa3135uv99x9rj7ve10pnpewfyouo61kv8i2.png" title="jump-label-solucoes-01Ativo 10" alt="jump-label-solucoes-01Ativo 10" class="img-1-treinamentos">
        </div>
        <div class="col-12 text-center mt-5">
            <span class="ft-18 color-fff">
                A Jump Label Solutions acredita que a capacitação profissional é fundamental para o <br />
                sucesso de um projeto de Data Science e suas ferramentas. Por isso, investimos na <br />
                criação e implementação de cursos sob demanda - com turmas regulares dentro de <br />
                nossas instalações e cursos online. Somos Academia SAS da América Latina.
            </span>
        </div>
    </div>
</section>
    -->

@model SiteJump.Models.Email
<section class="header-back tweenty-four">
    <div class="Inbox element-text-color-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 spacing-top-md spacing-top-half-mobile text-center pl-35-mobile">
                <p><img src="https://jumplabel.com.br/wp-content/uploads/elementor/thumbs/jump-label-solucoes-01Ativo-10-o8vjulsa3135uv99x9rj7ve10pnpewfyouo61kv8i2.png" data-aos="fade-up" title="jump-label-solucoes-01Ativo 10" alt="jump-label-solucoes-01Ativo 10" class="jump-label-solucoes-01Ativo-10"></p>
                <h2 class="element-text-color-orange" data-aos="fade-up">ENCONTRE A MELHOR SOLUÇÂO PARA SUA EMPRESA</h2>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center pl-35-mobile">
                <h3 data-aos="fade-up">A capacidade de entender e trabalhar com dados é tão vital quanto a <br /> capacidade de ler ou escrever.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-bottom-md spacing-top-sm spacing-bottom-mobile pl-35-mobile spacing-top-md-mobile">
                <div style="background-color: #FFFFFF; height:2px; width: 104px !important; margin-left: 45.5%;" class="item-inbox-negative-25px hr-white-onetrust-0" data-aos="zoom-in"></div>
            </div>
        </div>
    </div>
</section>

<section class="header-back">
    <div class="Inbox">
        <div class="row element-text-color-black">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-top-plus-5 spacing-top-md-mobile">
                <h1 data-aos="fade-up">Cursos sob medida para sua empresa!</h1>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-bottom-plus-5 spacing-bottom-md-mobile">
                <h3 data-aos="fade-up">Pode parecer absurdo, mas num futuro próximo, saber enter e trabalhar com <br /> dados será essencial para <strong class="element-text-color-orange">sua carreira e para o resultado de sua equipe.</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="header-back tweenty-five">
    <div class="Inbox">
        <div class="row element-text-color-white">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-top-plus-5 spacing-top-md-mobile">
                <h3 data-aos="fade-up">Baseado nas melhores técnicas e ferramentas do mercado, e focado em uma abordagem <br /> <strong class="element-text-color-orange">DataOps e de Data Literacy</strong>, a Jump Label desenvolveu treinamentos que levam você a sua <br /> equipe a tirar maior proveito dos dados.</h3>
            </div>
            <div class="col-1"></div>
        </div>
        <br />
        <div class="row mt-3">
            <div class="col-2 col-2-to-col-1"></div>
            <div class="col-4 box-white mobile-col-10 ml-12-percent-mobile" data-aos="fade-up">
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h2 class="element-text-color-orange item-inbox-25px">DataOps</h2>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mt-3"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h3><strong>DataOps</strong> ou operações de dados, é uma metodologia recente, que nasceu com profissionais de TI e Big Data, baseado em metodologias ágeis.</h3>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mt-3"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center mt-4">
                        <button type="button" class="btn btn-lg btn-warning item-inbox-15px-mobile btn-treinamentos-Data">Saiba mais!</button>
                    </div>
                    <div></div>
                </div>
            </div>


            <div class="col-4 ml-44-mt-20-pixels-mobile  remove-ml-3 box-white mobile-col-10 spacing-bottom-plus-5 spacing-bottom-md-mobile" data-aos="fade-up" style="margin-left: 3%">
                <div class="row mt-3">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h2 class="element-text-color-orange item-inbox-25px">Data Literacy</h2>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mt-3"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h3><strong>Data Literacy</strong> ou Alfabetização de dados, é um conceito que concentra todas as competências envolvidas no trabalho de comunicar dados como informação.</h3>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mt-3"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <button type="button" class="btn btn-lg btn-warning btn-treinamentos-Data spacing-top-md-mobile"">Saiba mais!</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header-back">
    <div class="Inbox">
        <div class="row element-text-color-black">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-top-plus-5 spacing-top-md-mobile">
                <h1 data-aos="fade-up">Treinamentos para você e sua equipe!</h1>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row spacing-bottom-plus-5 spacing-bottom-md-mobile">
            <div class="col-1"></div>
            <div class="col-10 text-center">
                <h3 data-aos="fade-up" class="h3-subtext-focado">Focando não apenas em técnicas de extrações e manipulações de dados, mas em <br /> <strong class="element-text-color-orange">entender, interpretar e gerar insights.</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="tweenty-six">
    <div class="Inbox">
        <div class="row">
            <div class="col-12 text-center spacing-top-sm spacing-bottom-sm spacing-top-md-mobile spacing-bottom-md-mobile">
                <h2 class="element-text-color-white pl-35-mobile" data-aos="fade-up">Se você está iniciando sua jornada de dados ou quer se aprofundar, comece por aqui:</h2>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="row">
        <div class="col-6 mobile-col-10 spacing-top-plus-5 spacing-bottom-plus-5 spacing-top-md-mobile">
            <img src="/images/landing/Grupo23.jpg" data-aos="fade-up" height="450" class="img-grupo-23" alt="Alternate Text" />
        </div>
        <div class="col-5 spacing-top-plus-5 spacing-bottom-plus-5 mobile-col-12 ml-100-pixels pl-35-mobile">
            <h2 data-aos="fade-up"><strong class="element-text-color-orange">Capacitação</strong> em Manipulação de Dados</h2>
            <div class="col item-inbox-30px" style="background-color: #000; height: 4px !important; width:35px !important;" data-aos="fade-left"></div>
            <br />
            <p data-aos="fade-up" class="item-inbox-25px">
                Este treinamento é direcionado para pessoas que estão iniciando sua jornada de dados ou que querem se aprofundar nas metodologias e técnicas de manipulação de dados, e que quer entender como utilizar as tecnologias mais modernas para extrair, tratar e transformar dados para gerar informações.
            </p>
            <p data-aos="fade-up">
                Aprenda as técnicas e escolha em qual tecnologia quer praticar tudo o que aprendeu, não é necessário já conhecer as tecnologias, é nosso papel te ensinar tudo o que você vai precisar.
            </p>
            <p class="text-right spacing-bottom-md-mobile mt-4" data-aos="fade-up">
                <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#modalTraining" onclick="$('#modalTraining .modal-title').html('Treinamento de <br /> Capacitação em Manipulação de Dados')">Inscreva-se</button>
            </p>
        </div>
    </div>
</section>

<section class="tweenty-six">
    <div class="Inbox">
        <div class="row">
            <div class="col-12 text-center spacing-top-sm spacing-bottom-sm spacing-top-md-mobile spacing-bottom-md-mobile">
                <h2 class="element-text-color-white pl-35-mobile" data-aos="fade-up">Se você já tem familiaridade com dados, comece por aqui</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 spacing-top-sm spacing-bottom-sm spacing-top-md-mobile mobile-col-12 pl-35-mobile">
            <h2 data-aos="fade-up"><strong class="element-text-color-orange">Otimização</strong> em Manipulação de Dados</h2>
            <div class="col item-inbox-30px" style="background-color: #000; height: 4px !important; width:35px !important;" data-aos="fade-right"></div>
            <br />
            <p data-aos="fade-up" class="item-inbox-25px">
                Este treinamento é direcionado para pessoas que estão iniciando sua jornada de dados ou que querem se aprofundar nas metodologias e técnicas de manipulação de dados, e que quer entender como utilizar as tecnologias mais modernas para extrair, tratar e transformar dados para gerar informações.
            </p>
            <p data-aos="fade-up">
                Aprenda as técnicas e escolha em qual tecnologia quer praticar tudo o que aprendeu, não é necessário já conhecer as tecnologias, é nosso papel te ensinar tudo o que você vai precisar.
            </p>
            <p class="text-right mt-4">
                <button type="button" data-aos="fade-up" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#modalTraining" onclick="$('#modalTraining .modal-title').html('Treinamento de <br /> Otimização em Manipulação de Dados')">Inscreva-se</button>
            </p>
        </div>
        <div class="col-6 spacing-top-sm spacing-bottom-sm spacing-bottom-md-mobile text-right mobile-col-10">
            <img data-aos="fade-up" src="~/images/landing/Grupo24.jpg" class="img-grupo-24" height="450" alt="Alternate Text" />
        </div>
    </div>
</section>

<div style="background-color: #000; height: 3px !important; width:100% !important;" data-aos="fade-right"></div>
<section class="header-back">
    <div class="Inbox">
        <div class="row element-text-color-black">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-top-sm spacing-top-md-mobile">
                <h1 data-aos="fade-up">Utilize a tecnologia e os dados em seu benefício!</h1>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center spacing-bottom-sm spacing-bottom-md-mobile">
                <h3 data-aos="fade-up" class="h3-subtext-melhor-experiencia">Melhore sua experiência com dados. Escolha <strong class="element-text-color-orange">uma ou mais ferramentas</strong> que se <br /> alinhem com a sua necessidade e realidade profissional.</h3>
            </div>
        </div>
    </div>
</section>

<div class="Inbox tweenty-seven">
    <div class="row">
        <div class="col-12 text-center spacing-top-sm spacing-bottom-sm spacing-top-md-mobile spacing-bottom-md-mobile">
            <h2 class="element-text-color-white" data-aos="fade-up">Escolha a tecnologia que mais se adequa a sua necessidade:</h2>
        </div>
    </div>
</div>

<section>
    <div class="Inbox spacing-top-sm spacing-top-md-mobile">
        <div class="row mt-3 text-center">
            <div class="col-1"></div>
            <div class="col-3 box-icon-shadow text-center mobile-col-10" data-aos="fade-up">
                <h3 class="element-text-color-orange spacing-top-md-mobile"><strong>SAS</strong></h3>
                <br />
                <img src="~/images/landing/SAS.png" height="100" alt="Alternate Text" />
                <br />
                <button type="button" class="btn btn-lg btn-warning btn-treinamentos-box-white spacing-top-sm-mobile" data-toggle="modal" data-target="#modalTraining" onclick="$('#modalTraining .modal-title').html('Treinamento de SAS')">Inscreva-se</button>
            </div>

            <div class="col-3 box-icon-shadow text-center ml-32-mt-20-pixels-mobile remove-ml-3 mobile-col-10 ml-45-pixels" data-aos="fade-up">
                <h3 class="element-text-color-orange spacing-top-md-mobile"><strong>PYTHON</strong></h3>
                <br />
                <img src="~/images/landing/PYTHON.png" height="100" alt="Alternate Text" />
                <br />
                <button type="button" class="btn btn-lg btn-warning btn-treinamentos-box-white spacing-top-sm-mobile" data-toggle="modal" data-target="#modalTraining" onclick="$('#modalTraining .modal-title').html('Treinamento de PYTHON')">Inscreva-se</button>
            </div>

            <div class="col-3 box-icon-shadow text-center ml-32-mt-20-pixels-mobile remove-ml-3 mobile-col-10 ml-45-pixels" data-aos="fade-up">
                <h3 class="element-text-color-orange spacing-top-md-mobile"><strong>SQL</strong></h3>
                <br />
                <img src="~/images/landing/Database.png" height="100" alt="Alternate Text" />
                <br />
                <button type="button" class="btn btn-lg btn-warning btn-treinamentos-box-white spacing-top-sm-mobile" data-toggle="modal" data-target="#modalTraining" onclick="$('#modalTraining .modal-title').html('Treinamento de SQL')">Inscreva-se</button>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3 spacing-top-sm spacing-bottom-sm spacing-bottom-md-mobile pl-35-mobile">
                <h3 class="mt-3" data-aos="fade-up">Todos os treinamentos da Jump Label são agnósticos e você pode escolher em qual <br /> tecnologia quer praticar tudo que aprendeu.</h3>
                <h3 data-aos="fade-up"><strong class="element-text-color-orange">Não encontro a solução para a sua empresa? <a href="#contato" class="element-text-color-orange">Fale conosco.</a></strong></h3>
            </div>
        </div>
    </div>
</section>

<div class="modal inmodal show" id="modalTraining" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close element-text-color-white" data-dismiss="modal"><span aria-hidden="true" class="element-text-color-white">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title modal-title-training element-text-color-orange">Treinamento</h4>
                <h3 class="font-bold element-text-color-black">Inscreva-se</h3>
            </div>
            <div class="modal-body">
                <form id="formTraining">
                    <input type="hidden" asp-for="Destino" value="contato@jumplabel.com.br" />
                    <input type="hidden" asp-for="Assunto" value="Treinamento" />

                    <div class="row text-center has-warning">
                        <div class="col-12">
                            <input type="text" class="form-control" asp-for="Nome" placeholder="Nome" onkeyup="Message('#formTraining');" />
                        </div>
                    </div>
                    <div class="mt-3"></div>
                    <div class="row text-center has-warning">
                        <div class="col-12">
                            <input type="text" class="form-control" asp-for="Remetente" placeholder="Email" onkeyup="Message('#formTraining');" />
                        </div>
                    </div>
                    <div class="mt-3"></div>
                    <div class="row text-center has-warning">
                        <div class="col-12">
                            <input type="text" class="form-control mask-telefone" asp-for="Telefone" placeholder="Telefone" onkeyup="Message('#formTraining');" />
                        </div>
                    </div>
                    <div class="mt-3"></div>
                    <div class="row">
                        <div class="col-12">
                            <h3>Opção de curso:</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <!--
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    <input type="radio" name="tipoCurso" value="1" checked placeholder="Opção de curso">
                                    <i></i> Online
                                </label>
                            </div>
                        </div>
                        -->
                        <div class="col-1"></div>
                        <div class="row">
                            <div class="col-12">
                                <label>
                                    <input type="radio" name="tipoCurso" value="Presencial" placeholder="Opção de curso">
                                    <i></i> Presencial
                                </label>
                            </div>
                        </div>

                        <textarea style="display: none" asp-for="Mensagem"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="SendEmail('#formTraining')">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/NavItems/Treinamentos.js?time=@DateTime.Now.ToString()"></script>

